.sign-up-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  font-size: 40px;
  font-family: var(--outfit-font);
}
h3 {
  font-size: 20px;
  font-family: var(--outfit-font);
  text-align: center;
  margin-bottom: 20px;
}
.form-container {
  height: 60vh;
  width: 40%;
  margin: auto;
}
label {
  font-family: var(--outfit-font);
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  font-size: 17px;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid black;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.submit-button-container button {
  width: 100%;
  height: 40px;
  background-color: var(--dark-orange);
  color: var(--white-color);
  font-size: 16px;
  border: none;
  font-weight: bold;
  margin-bottom: 50px;
  transition-duration: 0.3s;
  border-radius: 5px;
}
.submit-button-container button:hover {
  background-color: rgba(189, 101, 43, 0.842);
  color: black;
}

/* ====MEDIA QUERY STARTS HERE==== */
@media (max-width: 1324px) {
}

@media (max-width: 1024px) {
  .sign-up-container {
    height: 100%;
    padding-top: 40px;
  }
  .form-container {
    width: 60%;
    height: 100%;
  }
}

@media (max-width: 834px) {
}

@media (max-width: 480px) {
  .form-container {
    width: 75%;
  }
}
