.about-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.356)),
    url("/bg-images/bg1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.about-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.about-heading h1 {
  font-family: var(--oswalt-font);
  color: var(--dark-orange);
}
.about-image img {
  width: 65%;
  border: 15px solid #ddd;
  margin: auto;
}
.about-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 80vh;
}
.about-image-container div {
  width: 45%;
}
.about-description h1 {
  font-family: var(--oswalt-font);
  margin-bottom: 20px;
}
.about-description p {
  line-height: 25px;
}

/* ====MEDIA QUERY STARTS HERE==== */
@media (max-width: 1324px) {
}

@media (max-width: 834px) {
  .about-image-container {
    flex-direction: column;
    height: 100%;
  }
  .about-image-container div {
    width: 95%;
  }
  .about-image img {
    margin: auto;
    width: 93%
  }
  .about-heading {
    height: 50vh;
  }
}

@media (max-width: 480px) {
}
